<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://styles.relate.design/css/styles.css">
    <title>Page2</title>
  </head>
  <body>
    <div class="div-xex52">
      <a class="link-j3veq" href="https://google.com/">
        <u>新規作成</u>
      </a>
      <h4 class="heading4-mh9ua">ログイン</h4>
      <a href="https://google.com/" class="link-80col">
        <u>パスワードを忘れた</u>
      </a>
    </div>
    <form>
      <div>
        <label>チーム名</label>
        <input placeholder="Write Something"/>
      </div>
      <div>
        <label>パスワード</label>
        <input placeholder="Write Something"/>
      </div>
      <button>ログイン</button>
    </form>
  </body>
</html>