<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>団体戦のオーダー入力</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./test.css">
  </head>
  <body>
	<div class="class0">
    <div class="classTop">
      <iframe src="menu1.html" scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="classBody">
      <iframe class="classLeft" src="./menu2.html" width="66%" scrolling="no" frameborder="0"></iframe>
      <iframe class="classRight" src="./menu3.html" width="34%" scrolling="no" frameborder="0"></iframe>
    </div>
	</div>
  </body>
</html>