<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>団体戦のオーダー入力</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./test.css">
  </head>

<body>

<p>
対戦チーム:<br>
<h3>●●ジュニアクラブ</h3>
</p>

<table border="1">
	<thead>
	<tr>	<th>選手名</th>		<th>学年</th>	</tr>
	</thead>
	<tbody>
	<tr>	<td>石川 太郎</td>	<td>6</td>	</tr>
	<tr>	<td>石川 次郎</td>	<td>6</td>	</tr>
	<tr>	<td>石川 三郎</td>	<td>6</td>	</tr>
	<tr>	<td>石川 四郎</td>	<td>5</td>	</tr>
	<tr>	<td>石川 五郎</td>	<td>5</td>	</tr>
	<tr>	<td>石川 六郎</td>	<td>5</td>	</tr>
	<tr>	<td>石川 七郎</td>	<td>4</td>	</tr>
	<tr>	<td>石川 八郎</td>	<td>3</td>	</tr>
	<tr>	<td>石川 九郎</td>	<td>2</td>	</tr>
	<tr>	<td>石川 十郎</td>	<td>1</td>	</tr>
	</tbody>
</table>

</body>

</html>
