<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://styles.relate.design/css/styles.css">
  <link rel="stylesheet" href="./order_detail.css">
  <title>Page4</title>
  </head>
  <body>
    <div class="div-kb234">
      <label>
        <b>6年シングルス</b>
      </label>
      <div>
        <p>Write Something</p>
      </div>
      <label>
        <b>6年ダブルス</b>
      </label>
      <div>
        <p>Write Something</p>
        <p>Write Something</p>
      </div>
      <label>
        <b>5年シングルス</b>
      </label>
      <div>
        <p>Write Something</p>
      </div>
      <label>
        <b>5年ダブルス</b>
      </label>
      <div>
        <p>Write Something</p>
        <p>Write Something</p>
      </div>
      <label>
        <b>4年シングルス</b>
      </label>
      <div>
        <p>Write Something</p>
      </div>
    </div>
  </body>
</html>