<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://styles.relate.design/css/styles.css">
    <title>Page3</title>
  </head>
  <body>
    <div class="div-q26t1">
      <form>
        <ol>
          <label>
            <b>6年シングルス</b>
          </label>
          <p>
            <div class="">
              <select class=""></select>
            </div>
          </p>
          <label>
            <b>6年ダブルス</b>
          </label>
          <p>
            <div class="">
              <select></select>
            </div>
            <div class="">
              <select class="" test="test" test2="test2" test3="test3"></select>
            </div>
          </p>
          <label>
            <b>5年シングルス</b>
          </label>
          <p>
            <div class="">
              <select class=""></select>
            </div>
          </p>
          <label>
            <b>5年ダブルス</b>
          </label>
          <p>
            <div class="">
              <select class=""></select>
            </div>
            <div class="">
                <select class=""></select>
            </div>
          </p>
          <label>
            <b>4年シングルス</b>
          </label>
          <p>
            <div class="">
              <select class=""></select>
            </div>
          </p>
          <button>確定</button>
        </ol>
      </form>
    </div>
  </body>
</html>