<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta property="og:title" content="初期ページ">
    <meta property="og:locale" content="ja">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://styles.relate.design/css/styles.css">
    <link rel="stylesheet" href="./start_view.css">
    <title>初期ページ</title>
  </head>
  <body class="body-5yger">
    <div class="div-dersl">
      <div>
        <button class="button-dgrt6">
          <b>オーダーを提出する</b>
        </button>
      </div>
      <div>
        <button class="button-b6re1">
          <b class="bold-aongq">オーダーを確認する</b>
        </button>
      </div>
    </div>
  </body>
</html>